In [55]:
import pandas as pd
import numpy as np

spot = pd.read_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\nifty_spot_5min.csv.csv"
)

futures = pd.read_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\nifty_futures_5min.csv.csv"
)

# Options bhavcopy (needs restructuring)
options_raw = pd.read_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\nifty_options_daily.csv.csv",
    skiprows=1
)

In [56]:
options_raw.head()

,Unnamed: 0,OI,CHNG IN OI,VOLUME,IV,LTP,CHNG,BID QTY,BID,ASK,...,BID.1,ASK.1,ASK QTY.1,CHNG.1,LTP.1,IV.1,VOLUME.1,CHNG IN OI.1,OI.1,Unnamed: 22
0,NaN,2,-,-,-,"1,796.10",-,650,"1,689.10","1,786.90",...,1.65,1.75,"48,555",-1.10,1.65,22.51,"1,32,530","17,399","29,486",NaN
1,NaN,718,6,99,-,"1,689.30",-55.85,65,"1,652.20","1,690.85",...,1.75,1.80,"80,730",-1.15,1.75,22.08,"3,85,301","54,561","1,03,022",NaN
2,NaN,8,-,-,-,"1,598.45",-,65,"1,593.55","1,681.95",...,1.80,1.95,"3,315",-1.10,1.80,21.56,"70,425","2,238","4,768",NaN
3,NaN,3,-,1,-,"1,546.00",-111.30,650,"1,549.00","1,619.50",...,1.95,2.00,"1,040",-0.95,2.00,21.23,"91,783","6,949","13,023",NaN
4,NaN,1,-,-,-,"1,602.95",-4.85,65,"1,507.95","1,571.50",...,2.10,2.20,"2,795",-1.05,2.10,20.76,"54,191","1,668","2,767",NaN

### CLEAN & STANDARDIZE DATETIME

In [57]:
spot.columns = spot.columns.str.strip()
spot['Date'] = pd.to_datetime(spot['Date'])
spot.sort_values('Date', inplace=True)
spot.reset_index(drop=True, inplace=True)

In [58]:
# Remove bad rows
spot.dropna(subset=['Open','High','Low','Close'], inplace=True)
spot = spot[spot['Close'] > 0]

### CREATE DAILY SPOT SNAPSHOT (ATM SOURCE)

In [59]:
spot_daily = (
    spot
    .sort_values('Date')
    .groupby(spot['Date'].dt.date)
    .last()
    .reset_index(drop=True)
)

spot_daily['TradeDate'] = spot_daily['Date'].dt.date

### CLEAN & STANDARDIZE FUTURES DATA

In [60]:
futures.columns = futures.columns.str.strip()
futures['Date'] = pd.to_datetime(futures['Date'])
futures['Expiry'] = pd.to_datetime(futures['Expiry'])

In [61]:
futures.sort_values('Date', inplace=True)
futures.reset_index(drop=True, inplace=True)

In [62]:
# Remove bad rows
futures.dropna(subset=['Open','High','Low','Close'], inplace=True)
futures = futures[futures['Close'] > 0]

In [63]:
# Handle rollover — nearest expiry only
futures['DaysToExpiry'] = (futures['Expiry'] - futures['Date']).dt.days
futures = futures[futures['DaysToExpiry'] >= 0]

futures = (
    futures
    .sort_values(['Date','DaysToExpiry'])
    .groupby('Date')
    .first()
    .reset_index()
)

### OPTIONS

In [64]:
options_raw = options_raw.copy()
options_raw.columns = options_raw.columns.str.strip()

print(options_raw.columns)

Index(['Unnamed: 0', 'OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG',
       'BID QTY', 'BID', 'ASK', 'ASK QTY', 'STRIKE', 'BID QTY.1', 'BID.1',
       'ASK.1', 'ASK QTY.1', 'CHNG.1', 'LTP.1', 'IV.1', 'VOLUME.1',
       'CHNG IN OI.1', 'OI.1', 'Unnamed: 22'],
      dtype='object')

In [65]:
# Force first column as STRIKE (NSE-safe)
options_raw.iloc[:, 0] = options_raw.iloc[:, 0].astype(str)
options_raw.rename(columns={options_raw.columns[0]: 'STRIKE'}, inplace=True)

In [66]:
# Extract strike from first column BY POSITION
strike_series = options_raw.iloc[:, 0]

# Convert to string, clean commas
strike_series = strike_series.astype(str).str.replace(',', '')

# Convert to numeric
strike_series = pd.to_numeric(strike_series, errors='coerce')

# Assign back as a TRUE Series
options_raw = options_raw.assign(STRIKE=strike_series)

In [67]:
# Remove junk rows
options_raw = options_raw.dropna(subset=['STRIKE'])
options_raw['STRIKE'] = options_raw['STRIKE'].astype(int)

In [68]:
print(type(options_raw['STRIKE']))
print(options_raw[['STRIKE']].head(10))

<class 'pandas.core.frame.DataFrame'>
Empty DataFrame
Columns: [STRIKE, STRIKE]
Index: []

In [69]:
# Drop any column named STRIKE (duplicate-safe)
options_raw = options_raw.loc[:, ~options_raw.columns.str.contains('^STRIKE$', case=False)]

In [70]:
strike = options_raw.iloc[:, 0]          # column by position
strike = strike.astype(str)
strike = strike.str.replace(',', '', regex=False)
strike = pd.to_numeric(strike, errors='coerce')

options_raw.insert(0, 'STRIKE', strike)

In [71]:
options_raw = options_raw.dropna(subset=['STRIKE'])
options_raw['STRIKE'] = options_raw['STRIKE'].astype(int)

In [72]:
print(type(options_raw['STRIKE']))
print(options_raw.columns)
print(options_raw[['STRIKE']].head(10))

<class 'pandas.core.series.Series'>
Index(['STRIKE', 'OI', 'CHNG IN OI', 'VOLUME', 'IV', 'LTP', 'CHNG', 'BID QTY',
       'BID', 'ASK', 'ASK QTY', 'BID QTY.1', 'BID.1', 'ASK.1', 'ASK QTY.1',
       'CHNG.1', 'LTP.1', 'IV.1', 'VOLUME.1', 'CHNG IN OI.1', 'OI.1',
       'Unnamed: 22'],
      dtype='object')
Empty DataFrame
Columns: [STRIKE]
Index: []

In [73]:
options_raw = pd.read_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\nifty_options_daily.csv.csv",
    skiprows=1
)

options_raw.columns = options_raw.columns.str.strip()

In [74]:
# Convert STRIKE properly
options_raw['STRIKE'] = (
    options_raw['STRIKE']
    .astype(str)
    .str.replace(',', '', regex=False)
)

options_raw['STRIKE'] = pd.to_numeric(
    options_raw['STRIKE'],
    errors='coerce'
)

In [75]:
options_raw = options_raw.dropna(subset=['STRIKE'])
options_raw['STRIKE'] = options_raw['STRIKE'].astype(int)

In [76]:
print(options_raw.shape)
print(options_raw[['STRIKE']].head(10))

(84, 23)
   STRIKE
0   23950
1   24000
2   24050
3   24100
4   24150
5   24200
6   24250
7   24300
8   24350
9   24400

### SPLIT CALLS & PUTS

In [77]:
# Split CALLS
calls = options_raw[
    ['STRIKE','LTP','IV','VOLUME','OI','CHNG IN OI']
].copy()
calls['OptionType'] = 'CE'

In [78]:
# Split PUTS
puts = options_raw[
    ['STRIKE','LTP.1','IV.1','VOLUME.1','OI.1','CHNG IN OI.1']
].copy()

In [79]:
puts.columns = ['STRIKE','LTP','IV','VOLUME','OI','CHNG IN OI']
puts['OptionType'] = 'PE'

In [80]:
# Combine
options_clean = pd.concat([calls, puts], ignore_index=True)

### NUMERIC CLEANING

In [81]:
num_cols = ['STRIKE','LTP','IV','VOLUME','OI','CHNG IN OI']

options_clean[num_cols] = (
    options_clean[num_cols]
    .replace(['-', ''], np.nan)
    .replace(',', '', regex=True)
)

In [82]:
options_clean[num_cols] = options_clean[num_cols].astype(float)

In [83]:
# Remove rows without price
options_clean.dropna(subset=['LTP'], inplace=True)

In [84]:
print("After numeric cleaning:", options_clean.shape)

After numeric cleaning: (168, 7)

### HANDLE MISSING VALUES

In [85]:
options_clean['TradeDate'] = spot_daily['TradeDate'].iloc[0]

In [90]:
atm_from_options = (
    options_clean['STRIKE']
    .median()
)

# Snap to nearest 50
atm_from_options = round(atm_from_options / 50) * 50

options_clean['ATM'] = atm_from_options

In [91]:
options_clean = options_clean[
    options_clean['STRIKE'].between(
        options_clean['ATM'] -200,
        options_clean['ATM'] +200
    )
]

In [92]:
print("FINAL OPTIONS CLEAN:", options_clean.shape)
print(options_clean[['STRIKE','ATM','OptionType']].head(10))

FINAL OPTIONS CLEAN: (18, 9)
      STRIKE    ATM OptionType
37   25800.0  26000         CE
38   25850.0  26000         CE
39   25900.0  26000         CE
40   25950.0  26000         CE
41   26000.0  26000         CE
42   26050.0  26000         CE
43   26100.0  26000         CE
44   26150.0  26000         CE
45   26200.0  26000         CE
121  25800.0  26000         PE

In [93]:
spot.to_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\spot_clean.csv",
    index=False
)

futures.to_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\futures_clean.csv",
    index=False
)

options_clean.to_csv(
    r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\options_clean.csv",
    index=False
)

In [94]:
print("FINAL OPTIONS CLEAN:", options_clean.shape)
print(options_clean[['STRIKE','ATM','OptionType']].head(10))

FINAL OPTIONS CLEAN: (18, 9)
      STRIKE    ATM OptionType
37   25800.0  26000         CE
38   25850.0  26000         CE
39   25900.0  26000         CE
40   25950.0  26000         CE
41   26000.0  26000         CE
42   26050.0  26000         CE
43   26100.0  26000         CE
44   26150.0  26000         CE
45   26200.0  26000         CE
121  25800.0  26000         PE

### Data Merging

In [95]:
import pandas as pd
import numpy as np

In [96]:
spot_clean = pd.read_csv(r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\spot_clean.csv")
futures_clean =pd.read_csv(r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\futures_clean.csv")
options_clean = pd.read_csv(r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\options_clean.csv")

In [97]:
spot_clean.shape

(250, 6)

In [98]:
# Correct way to strip column names
spot_clean.columns = spot_clean.columns.str.strip()
futures_clean.columns = futures_clean.columns.str.strip()
options_clean.columns = options_clean.columns.str.strip()

In [99]:
# Ensure datetime
spot_clean['Date'] = pd.to_datetime(spot_clean['Date'])
futures_clean['Date'] = pd.to_datetime(futures_clean['Date'])

#### Merge spot & futures on timestamp

In [100]:
# Merge spot + futures on Date
merged = pd.merge(
    spot_clean,
    futures_clean,
    on='Date',
    how='outer',
    suffixes=('_spot', '_fut')
)

In [101]:
# Sort by Date
merged = merged.sort_values('Date').reset_index(drop=True)

#### Add daily options (broadcast to all 5-min timestamps)

In [102]:
# Extract TradeDate from timestamp
merged['TradeDate'] = merged['Date'].dt.date

# Merge options_clean on TradeDate
merged = pd.merge(
    merged,
    options_clean,
    on='TradeDate',
    how='left'
)

In [103]:
print("Merged dataset shape:", merged.shape)

Merged dataset shape: (250, 29)

In [104]:
merged.to_csv(r"C:\Users\jkmfi\Documents\Quant_nifty_project\data\clean\nifty_merged_5min.csv",index=False)